<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="X-Prerender-Token" value="kvMVBs5R8VN7sRRPN8EA" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
               <rule name="redirect all requests" stopProcessing="false">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{QUERY_STRING}" pattern="(.*)_escaped_fragment_=(.*)" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>
                <rule name="Seo rewrite rule" stopProcessing="true">
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="(.*)_escaped_fragment_=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/http://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="File" requireAccess="Read" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    <system.web>
    </system.web>
</configuration>