.owl-container{
    background-color:white;
    opacity:.7; 
    padding:30px 60px 30px 60px;
            border-radius: 20px 20px 20px 20px;
       -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}

.quote-icon{
    font-size: 35px;
}

.selfie-img{
            border-radius: 20px 20px 20px 20px;
       -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    max-width: 300px;
    display: block;
    margin: auto;
}

.services-img{
            /*border-radius: 20px 20px 20px 20px;
       -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;*/
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .selfie-img{
            border-radius: 20px 20px 20px 20px;
       -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    max-width: 100%;
}
}